* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/*#region task1*/

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* Відстань між категоріями */
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 392px;
  height: 264px;
}

.item {
  border: 2px;
  padding: 16px;
  /* Відступи всередині контейнера */
  border-radius: 8px;
  /* Округлені краї */
  background-color: #F6F6FE;
  /* Світло-сірий фон */
}

.item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #2e2f42;
  margin-bottom: 16px;
  /* Відступ між заголовком і списком */
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.item ul {
  list-style-type: none;
  /* Видаляємо маркери списку */
  padding: 0;
  margin: 0;
}

.item ul li {
padding: 10px;
border-color: #808080;
  margin-bottom: 8px;
  /* Відступ між елементами */
  border-radius: 4px;
  /* Округлені краї */
  border: 2px solid #cfcfd5;
  /* Сірий бордер */
}

/*#endregion task1*/



/*task2*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item {
  flex-basis: calc(33.333% - 16px);
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}